:root {
  --color1: rgb(255, 178, 62);
  --color2: rgb(91, 21, 255);
  --color3: rgba(29, 16, 5, 0.973);
  --color4: rgb(12, 12, 12);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Source+Code+Pro:wght@500&display=swap");

@font-face {
  font-family: "Courier-Prime-Italic";
  src: url(./assets/fonts/CourierPrime-Italic.ttf);

  font-family: "Courier-Prime-Regular";
  src: url(./assets/fonts/CourierPrime-Regular.ttf);
}
body {
  background: url(./assets/programming-1857236.jpg) center/cover;
  height: 100vh;
  font-family: "Source Code Pro", monospace;
  color: var(--color1);
  display: flex;
  align-items: center;
}
.card {
  background: var(--color3);
  border-radius: 20px;
  margin: 15%;
  padding: 20px;
}
