* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&family=Source+Code+Pro:wght@500&display=swap");

@font-face {
  font-family: "Courier-Prime-Italic";
  src: url(./assets/fonts/CourierPrime-Italic.ttf);

  font-family: "Courier-Prime-Regular";
  src: url(./assets/fonts/CourierPrime-Regular.ttf);
}
body {
  background: url(./assets/programming-1857236.jpg) center/cover;
  height: 100vh;
  font-family: "Source Code Pro", monospace;
}
